<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fortnite API Front-End</title>
    
    <link rel="stylesheet" href="./resources/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="/views/index.html">Fortnite API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/views/index.html">Top 10<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/items.html">Items</a>
                    </li>
                </ul>
                
                <form id="search-player" class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="error-message" class="alert alert-dismissible alert-danger d-none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Błąd!</strong> Użytkownik o podanym nicku nie istnieje.
        </div>

        <h1 id="stats-nickname" class="mb-4">Nickname</h1>

        <div class="d-flex flex-row justify-content-between">
            <div class="player-stats card text-white bg-primary">
                <div class="card-header"><h4>Solo</h4></div>
                <div class="card-body">
                    <table id="stats-solo-table" class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Zabójstwa: </th>
                                <td class="actual-kills">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Śmierci: </th>
                                <td class="actual-deaths">0</td>
                            </tr>
                            <tr>
                                <th scope="row">K/D: </th>
                                <td class="actual-kd">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Rozegrane: </th>
                                <td class="actual-games">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Wygrane: </th>
                                <td class="actual-wins">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Top10: </th>
                                <td class="actual-top10">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Top25: </th>
                                <td class="actual-top25">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="player-stats card text-white bg-primary">
                <div class="card-header"><h4>Duo</h4></div>
                <div class="card-body">
                    <table id="stats-duo-table" class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Zabójstwa: </th>
                                <td class="actual-kills">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Śmierci: </th>
                                <td class="actual-deaths">0</td>
                            </tr>
                            <tr>
                                <th scope="row">K/D: </th>
                                <td class="actual-kd">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Rozegrane: </th>
                                <td class="actual-games">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Wygrane: </th>
                                <td class="actual-wins">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Top5: </th>
                                <td class="actual-top5">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Top12: </th>
                                <td class="actual-top12">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="player-stats card text-white bg-primary">
                <div class="card-header"><h4>Squad</h4></div>
                <div class="card-body">
                    <table id="stats-squad-table" class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Zabójstwa: </th>
                                <td class="actual-kills">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Śmierci: </th>
                                <td class="actual-deaths">0</td>
                            </tr>
                            <tr>
                                <th scope="row">K/D: </th>
                                <td class="actual-kd">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Rozegrane: </th>
                                <td class="actual-games">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Wygrane: </th>
                                <td class="actual-wins">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Top3: </th>
                                <td class="actual-top3">0</td>
                            </tr>
                            <tr>
                                <th scope="row">Top6: </th>
                                <td class="actual-top6">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small pt-4">
            <div class="container text-center">
                <p>Aktualna wersja gry to: <span id="game-version"></span></p>
            </div>  
        </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="resources/js/searchPlayer.js"></script>
    <script src="resources/js/getVersion.js"></script>
    <script>
        displayPlayer();
    </script>
</body>
</html>